:root {
    --main-color:#4b3074;
    --scound-color:#f2f2f2;
    --third-color:#aa95d0;

}

* {
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.contaner {
    width: 60%;
    margin: 0px auto;
}
@media (max-width:992px) {
    .contaner {
        width: 100%;
    }
}